@import 'nib'

body
  padding-top 80px
  font-smoothing antialiased
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased

.projects-3 .projects.all-centered .project-wrapper
  text-align center

.projects-3 .projects.starfish-arms
  position relative
  top -180px
