template(name="index")
  section.header-10-sub.v-center
    .background
    div
      .container
        .hero-unit
          h1 We build fast applications
          p with <a href="#">Meteor</a> + <a href="#">Famo.us</a> using <a href="#">Lean Startup</a> practices
    a.control-btn.fui-arrow-down(href='#')
  section.projects-3
    .container
      h3
        | Our work in the wild
      .projects
        .project-wrapper
        .project-wrapper
          .project
            .photo-wrapper
              .photo(style='background-image: url(/img/projects/img-3.png);')
                img(src='/img/projects/img-3.png', alt='', style='display: none;')
              .overlay
                span.fui-eye
            .info
              .name Pintask
              | Kanban-style task tracker featuring great extensibility
        .project-wrapper
      .projects.starfish-arms
        .project-wrapper
          .project
            .photo-wrapper
              .photo(style='background-image: url(/img/projects/img-2.png);')
                img(src='/img/projects/img-2.png', alt='', style='display: none;')
              .overlay
                span.fui-eye
            .info
              .name Humon
              | Wiki collaboration reimagined
        .project-wrapper
        .project-wrapper
          .project
            .photo-wrapper
              .photo(style='background-image: url(/img/projects/img-4.png);')
                img(src='/img/projects/img-4.png', alt='', style='display: none;')
              .overlay
                span.fui-eye
            .info
              .name FlowBAT
              | Web Development, iOS
      .projects.all-centered.starfish-arms
        .project-wrapper
          .project
            .photo-wrapper
              .photo(style='background-image: url(/img/projects/img-2.png);')
                img(src='/img/projects/img-2.png', alt='', style='display: none;')
              .overlay
                span.fui-eye
            .info
              .name BitcoinXE
              | Wiki collaboration reimagined
        .project-wrapper
          .project
            .photo-wrapper
              .photo(style='background-image: url(/img/projects/img-3.png);')
                img(src='/img/projects/img-3.png', alt='', style='display: none;')
              .overlay
                span.fui-eye
            .info
              .name Fitpic
              | Kanban-style task tracker featuring great extensibility
  section.projects-3
    .container
      h3
        | What users say
      .projects
        .project-wrapper
          .project
            .photo-wrapper
              .photo(style='background-image: url(/img/projects/img-2.png);')
                img(src='/img/projects/img-2.png', alt='', style='display: none;')
              .overlay
                span.fui-eye
            .info
              .name Humon
              | Wiki collaboration reimagined
        .project-wrapper
          .project
            .photo-wrapper
              .photo(style='background-image: url(/img/projects/img-3.png);')
                img(src='/img/projects/img-3.png', alt='', style='display: none;')
              .overlay
                span.fui-eye
            .info
              .name Pintask
              | Kanban-style task tracker featuring great extensibility
        .project-wrapper
          .project
            .photo-wrapper
              .photo(style='background-image: url(/img/projects/img-4.png);')
                img(src='/img/projects/img-4.png', alt='', style='display: none;')
              .overlay
                span.fui-eye
            .info
              .name Impressionist UI
              | Web Development, iOS Design
  section.projects-3
    .container
      h3
        | What clients say
      .projects
        .project-wrapper
          .project
            .photo-wrapper
              .photo(style='background-image: url(/img/projects/img-2.png);')
                img(src='/img/projects/img-2.png', alt='', style='display: none;')
              .overlay
                span.fui-eye
            .info
              .name Humon
              | Wiki collaboration reimagined
        .project-wrapper
          .project
            .photo-wrapper
              .photo(style='background-image: url(/img/projects/img-3.png);')
                img(src='/img/projects/img-3.png', alt='', style='display: none;')
              .overlay
                span.fui-eye
            .info
              .name Pintask
              | Kanban-style task tracker featuring great extensibility
        .project-wrapper
          .project
            .photo-wrapper
              .photo(style='background-image: url(/img/projects/img-4.png);')
                img(src='/img/projects/img-4.png', alt='', style='display: none;')
              .overlay
                span.fui-eye
            .info
              .name Impressionist UI
              | Web Development, iOS Design
