template(name="index")
  section.header-10-sub.v-center
    .background
    div
      .container
        .hero-unit
          h1 We build outstanding applications
          p with <a href="#">Meteor</a> + <a href="#">Famo.us</a> using <a href="#">Lean Startup</a> practices
    a.control-btn.fui-arrow-down(href='#')
  section
