.index
  .panel
    color #868C91
    .panel-body
      padding 20px 10px
      .row
        margin 0px
      .buttons-row
        margin-top 20px
        text-align center
      .link-row
        margin-top 20px
      .canvas-row
        margin-top 20px
    .img-label-input
      text-align left
    .btn
      text-transform uppercase
      font-smoothing antialiased
      text-rendering optimizeLegibility
      -webkit-font-smoothing antialiased
      font-weight bold
      line-height 1.36
      letter-spacing 1px
      border-radius 4px 4px 4px 4px
    .btn-primary
      background #A35BC2 none repeat scroll 0% 0% / 25px 25px padding-box border-box
      border 1px solid #A35BC2
    .btn-primary:hover
      background #8e44ad none repeat scroll 0% 0% / 25px 25px padding-box border-box
      border 1px solid #8e44ad
  .upload
    position: relative
    height 420px
    border 1px dashed lightgray
    font-size 20px
    text-align center
    overflow: hidden
    img
      max-width 100%
    .text
      margin 150px 0
      em
        font-size 60%
    .file
      position absolute
      top 0
      left 0
      width: 100%;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      color: #FFF;
      font-weight: bold;
      font-size: 400px;
      opacity: 0;
      cursor pointer
  textarea
    margin-top 10px
    text-align center
  .button-wrapper
    text-align center
