template(name="header")
  header.header-10.navbar-fixed-top
    .container
      .row
        .navbar.col-sm-12(role='navigation')
          .navbar-header
            button.navbar-toggle(type='button')
            a.brand(href='/') SpireWorks
          .collapse.navbar-collapse.pull-right
            ul.nav.pull-left
              li
                a(href='#projects') Projects
              li
                a(href='#aspirants') Aspirants
              li
                a(href='#contact') Contact
            form.navbar-form.pull-left
              a.btn.btn-success(href='#') Hire Us
    .header-background
